# Discord
discord_bot_id = ''
discord_bot_token = ''
# Restricted roles for certain commands
admin_roles = ['Moderators', 'Core', 'Community Managers', 'Dictators', 'Jungle Junta', 'BANANO POLICE']
# Admin User IDs
admin_ids=['303599885800964097']
# Set channels here to exclude from from like !meme and !pup
no_spam_channels=[403628311965597697, 447447880983117824, 431388013256245258, 416306464970506240, 428624456362098698]
# command prefix
command_prefix='!'
# Status
playing_status=command_prefix + 'commandlist'
# Role for mute/muzzle
muzzled_role='muzzled'
# Banano-discord
ARREST_ROLE='BANANO JAIL'
CITIZEN_ROLE='Citizens'
TROLL_ROLL='Troll'
# Arrest messages
RIGHTS="```You have been arrested by the BRPD for crimes against the Banano Republic. You have the right to remain unripe. Anything you say can and will be used against you in a banano court. You have the right to have an orangutan. If you cannot afford one, one will be appointed to you by the court. Until your orangutan arrives, you will spend your time in #jail, bail is set at 10 BANANO.```"
RELEASE="```You have been released from Jail!```"
# Citizenship messages
CITIZENSHIP="```I hereby declare you a Citizen of the Banano Republic, may the Banano gods grant you all things which your heart desires.```"
DEPORT="```I hereby withdraw your Citizenship to the Banano Republic, we don’t want to talk to you no more, you empty-headed animal-food-trough wiper. We fart in your general direction. Your mother was a hamster, and your father smelt of elderberries.```"
# Troll messages
TROLL="```You have been marked as a TROLL and are no longer a Citizen in the Banano Republic```"
UNTROLL="```You are no longer known as a TROLL in the Banano Republic, please reapply for Citizenship.```"
# Bolivar price (you probably dont want to do this yourself)
VESPRICE=False
# Kick/BAN log channel (will log who kicked who)
KICK_LOG=633355534535491605
# Jail channel id (For sending messages to recently jailed people, who may not be able to see the channel they were just jailed in)
JAIL_ID=416306504124071938